div.header {
  position: fixed;
  height: 55px;
  top:0;
  width: 100%;
  border-bottom: 1px solid #d6d6d6;
  background: #fff;
  z-index: 100;
}

div.body{
  border-left: 1px solid #d6d6d6;
  border-right: 1px solid #d6d6d6;
  margin-top: 55px;
  min-height: 100vh;
}
