.hat{
  height: 135px;
  line-height: 135px;
  background-color: black;
  color: white;
  .blog_name{
    margin-left: 30px;
    font-weight: 900;
    font-size: 30px;
    line-height: 80px;
    color: white;
    float: left;
  }
}

.root{
  margin-top: -55px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 6px rgba(100,100,100,0.3);
  -moz-box-shadow: 0 2px 6px rgba(100,100,100,0.3);
  box-shadow: 0 2px 6px rgba(100,100,100,0.3);
}

div.header {
  height: 55px;
  border-bottom: 1px solid #d6d6d6;
  background-color: #32363B;
  z-index: 100;
  color: white;
  padding: 0 30px;
}

div.body{
  padding: 30px;
  background-color: #fff;
  border-left: 1px solid #d6d6d6;
  border-right: 1px solid #d6d6d6;
  min-height: 100vh;
}
